**Python Basic Tutorial**

In [1]:
# Importing Libraries
import numpy
import math

In [2]:
# Print
print("Hello World!")

Hello World!

In [3]:
# Arithematic Operation in Print
print(1+2)
print(9-5)
print(5+3==9)

3
4
False

**Print follows PEMDAS Rule, where**

**P = Parenthesis**

**E = Exponent**

**M = Multiply**

**D = Division**

**A = Addition**

**S = Subtraction**

In [4]:
print(((1+3)*(9-2)/2)**2)

196.0

**Variable**

**Rules for Naming Variables**

**They can't have spaces (e.g., test var is not allowed)**

**They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)**

**They have to start with a letter or underscore (e.g., 1_var is not allowed)**

In [5]:
# Add is a variable for storing values
add = 4+5
print(add)

9

In [6]:
# Manipulating variables
var1=5
print(var1)
var1=10
print(var1)
var1=var1+10
print(var1)

5
10
20

In [7]:
# Using multiple variables
num_years=4
days_per_year=365 
hours_per_day=24
mins_per_hour=60
secs_per_min=60
print(secs_per_min*mins_per_hour*hours_per_day*days_per_year*num_years)

126144000

**Define the Function**

**Every function is composed of two pieces: a header and body**

**Every function header begins with def, which tells Python that we are about to define a function**

**Every line of code in the function body must be indented exactly four spaces**

**You can indented by pushing the space bar four times, or by hitting the "Tab" button once on your keyboard**

**Variable Scope**

**Variables defined inside the function body cannot be accessed outside of the function**

In [8]:
def add_three(input_var):
    output_var = input_var + 3
    return output_var
add_three(5)

8

In [9]:
# Functions with multiple arguments
def add(a,b,c):
    return a+b+c
add(1,2,3)

6

**Functions with no arguments**

**Define the function with no arguments and with no return**

In [10]:
def print_hello():
    print("Hello, How are you!")
    print("Good morning!")
print_hello()

Hello, How are you!
Good morning!

**Whenever you create a variable in Python, it has a value with a corresponding data type**

**There are many different data types, such as integers, floats, booleans, and strings**

In [11]:
# Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0)
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [12]:
# Floats are numbers with fractional parts. They can have many numbers after decimal
pi = math.pi
print(pi)
print(type(pi))
float_num=1.
print(float_num)
print(type(float_num))

3.141592653589793
<class 'float'>
1.0
<class 'float'>

**It lets you round a number to a specified number of decimal places**

**One function that is particularly useful for fractions is the round() function**

In [13]:
round_pi = round(pi)
print(round_pi)
print(type(round_pi))
round_pi = round(pi,5)
print(round_pi)
print(type(round_pi))

3
<class 'int'>
3.14159
<class 'float'>

In [14]:
# As you've seen, ndigits=-1 rounds to the nearest 10, ndigits=-2 rounds to the nearest 100 and so on.
pi=3146
round_pi = round(pi,-1)
print(round_pi)

3150

In [15]:
# Booleans represent one of two values: True or False
boll = True
print(boll)
print(type(boll))

True
<class 'bool'>

In [16]:
# We can switch the value of a boolean by using not. So, not True is equivalent to False, and not False becomes True
not_boll = not boll
print(not_boll)
print(type(not_boll))

False
<class 'bool'>

**The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks**

In [17]:
# Strings are commonly used to represent text
hello = "hello world!"
print(hello)
print(type(hello))

hello world!
<class 'str'>

In [18]:
# You can get the length of a string with len()
print(len(hello))

12

**Length includes the space, comma, and exclamation mark**

**Note that the quotation marks are not included when calculating the length**

**One special type of string is the empty string, which has length zero**

In [19]:
empty_string = ""
print(empty_string)
print(type(empty_string))
print(len(empty_string))

<class 'str'>
0

In [20]:
# If you put a number in quotation marks, it has a string data type
str_any = "1.323"
print(str_any)
print(type(str_any))
print(len(str_any))

1.323
<class 'str'>
5

In [21]:
# If we have a string that is convertible to a float, we can use float()
any_float_num = float(str_any)
print(any_float_num)
print(type(any_float_num))

1.323
<class 'float'>

**Just like you can add two numbers (floats or integers), you can also add two strings**

**It results in a longer string that combines the two original strings by concatenating them**

In [22]:
new_string = "abc"+"cde"
print(new_string)
print(type(new_string))

abccde
<class 'str'>

**Note that it's not possible to do subtraction or division with two strings**

**You also can't multiply two strings, but you can multiply a string by an integer**

**This again results in a string that's just the original string concatenated with itself a specified number of times**

**Note that you cannot multiply a string by a float! Trying to do so will return an error**

In [23]:
new_string = new_string*3
print(new_string)
print(type(new_string))

abccdeabccdeabccde
<class 'str'>

**When you multiple an integer or float by a boolean with value True, it just returns that same integer or float (and is equivalent to multiplying by 1)**

**If you multiply an integer or float by a boolean with value False, it always returns 0**

**This is true for both positive and negative numbers**

**If you multiply a string by a boolean with value True, it just returns that same string**

**And if you multiply a string by a boolean with value False, it returns an empty string (or a string with length zero)**

**In programming, conditions are statements that are either True or False**

**There are many different ways to write conditions in Python, but some of the most common ways of writing conditions just compare two different values**

In [24]:
# Tricky Outputs
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

3
-3.1
<class 'str'>
0

In [25]:
# When you add booleans, adding False is equivalent to adding 0, and adding True is equivalent to adding 1.
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3

In [26]:
print(2 > 3)

False

**When you check two values are equal, make sure you use the == sign, and not the = sign**

**Conditional statements use conditions to modify how your function runs**

**They check the value of a condition, and if the condition evaluates to True, then a certain block of code is executed**

**Otherwise, if the condition is False, then the code is not run**

**The simplest type of conditional statement is an "if" statement**

In [27]:
def evaluate_temp(temp):
    message = "Normal temperature."
    if temp > 38:
        message = "Fever!"
    return message

evaluate_temp(40)

'Fever!'

**We can use "else" statements to run code if a statement is False**

**The code under the "if" statement is run if the statement is True, and the code under "else" is run if the statement is False**

In [28]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

evaluate_temp(32)

'Normal temperature.'

In [29]:
# We can use "elif" (which is short for "else if") to check if multiple conditions might be true
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp < 37:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

evaluate_temp(12)

'Normal temperature.'

**To create a list, you need to use square brackets ([ ]) and separate each item with a comma**

**Every item in the list is a Python string, so each is enclosed in quotation marks**

In [30]:
lst = ["Apple","Banana","Papaya","Grapes"]
lst

['Apple', 'Banana', 'Papaya', 'Grapes']

**We can count the number of entries in any list with len(), which is short for "length"**

**You need only supply the name of the list in the parentheses**

In [31]:
print(len(lst))

4

In [32]:
# list.pop removes and returns the last element of a list
print(lst.pop())

Grapes

In [33]:
# we can use the "in" operator to determine whether a list contains a particular value
print("Apple" in lst)

True

In [34]:
# We can get its index using the list.index method
print(lst.index("Apple"))

0

**We can refer to any item in the list according to its position in the list (first, second, third, etc), this is called indexing**

**Note that Python uses zero-based indexing, which means that:**

**To pull the first entry in the list, you use 0,**

**To pull the second entry in the list, you use 1,**

**To pull the final entry in the list, you use one less than the length of the list**

In [35]:
print("First:",lst[0])
print("Last:",lst[2])

First: Apple
Last: Papaya

**You can also pull a segment of a list (for instance, the first three entries or the last two entries),this is called slicing**

 **To pull the first x entries, you use [:x]**
 
 **To pull the last y entries, you use [-y:]**

In [36]:
print("First Two:",lst[:2])
print("Last Two:",lst[-2:])

First Two: ['Apple', 'Banana']
Last Two: ['Banana', 'Papaya']

In [37]:
# Remove an item from a list with .remove(), and put the item you would like to remove in parentheses
lst.remove("Apple")
print(lst)

['Banana', 'Papaya']

In [38]:
# Add an item to a list with .append(), and put the item you would like to add in parentheses
lst.append("Pine Apple")
print(lst)

['Banana', 'Papaya', 'Pine Apple']

**Lists can have items with any data type, including booleans, integers, and floats**

**You can also get the minimum with min() and the maximum with max()**

In [39]:
lst_math = [1,3,5,7,9,11]
print(max(lst_math))
print(min(lst_math))

11
1

In [40]:
# To add every item in the list, use sum()
print(sum(lst_math))

36

**You can actually use Python to quickly turn this string into a list with .split()**

**In the parentheses, we need to provide the character should be used to mark the end of one list item and the beginning of another, and enclose it in quotation marks**

**In this case, that character is a comma**

In [41]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"
print(flowers.split(","))

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

**List Comprehensions, which allow you to create a list based on the values in another list**

In [42]:
test = [11,12,13,14,15]
rating_test = [i>13 for i in test]
print(rating_test)
print(sum(rating_test))

[False, False, False, True, True]
2

In [43]:
# "sorted" returns a sorted version of a list
sorted(lst_math)

[1, 3, 5, 7, 9, 11]

In [44]:
# "min" and "max" return the minimum and maximum of their arguments
print(min(1,2,3))
print(max(1,2,3))

1
3

In [45]:
# "abs" returns the absolute value of an argument
print(abs(-33))

33

**"int" and "float" can also be called as functions which convert their arguments to the corresponding type**

In [46]:
print(float(10))
print(int(3.33))

10.0
3

**Help Function**

**The help() function is possibly the most important Python function you can learn**

**If you can remember how to use help(), you hold the key to understanding most other functions**

In [47]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

**Defining functions**

**Functions start with a header introduced by the def keyword**

**The indented block of code following the : is run when the function is called**

**"return" is another keyword uniquely associated with functions**

**When Python encounters a return statement, it exits the function immediately, and passes the value on the right hand side to the calling context**

**Python isn't smart enough to read my code and turn it into a nice English description**

**However, when I write a function, I can provide a description in what's called the docstring**

**"""**

**1. Name**

**2. Class**

**3. Roll Number**

**"""**

In [48]:
# Functions that don't return
mystery = print()
print(mystery)

None

In [49]:
# "print" function has several optional arguments
print(1,2,3,sep="<")

1<2<3

**Python has a type of variable called bool**

**It has two possible values: True and False**

In [50]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [51]:
# Comparisons frequently work like you'd hope
print(3.0 == 3)
print(True or True and False)

# All numbers are treated as true, except 0
print(bool(1)) 
print(bool(0))

# All strings are treated as true, except the empty string ""
print(bool("asf")) 
print(bool(""))

True
True
True
False
True
False

In [52]:
# Function
def sign(x):
    if x > 0:
        return 1
    elif x < 0:
        return -1
    else:
        return 0

sign(5)

1

In [53]:
# One Line Statement
def concise_is_negative(number):
    return True if number<0 else False
print(concise_is_negative(-3))

True

In [54]:
# XOR Operation in Python
x = 1
y = 0
print(f"X XOR Y is: {x^y}")

X XOR Y is: 1

In [55]:
# Complex Number
c = 12 + 3j
print(c.imag)
print(c.real)

3.0
12.0

In [56]:
# Numbers have a method called bit_length. Again, we access it using dot syntax
num = 23
print(bin(num))
print((num).bit_length())

0b10111
5

**Tuples are almost exactly the same as lists**

**They differ in just two ways:**

**The syntax for creating them uses parentheses instead of square brackets**

**They cannot be modified (they are immutable)**

In [57]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

In [58]:
# Loops are a way to repeatedly execute some code
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet,end="\n")

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

**For loop specifies**

**The variable name to use**

**The set of values to loop over**

**You can even loop through each character in a string**

**The object to the right of the "in" can be any object that supports iteration**

In [59]:
letter = ["a","b","c","d","e","f","g"]
for chr in letter:
    print(chr.capitalize(),sep=" ")

A
B
C
D
E
F
G

In [60]:
# Print all the uppercase letters in s, one at a time
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
for char in s:
    if char.isupper():
        print(char, end=" ")

H E L L O

**range() is a function that returns a sequence of numbers**

**It turns out to be very useful for writing loops**

In [61]:
table = 5
for i in range(1,11):
    print(f"{table} X {i} = {table*i}",end="\n")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [62]:
# The other type of loop in Python is a while loop, which iterates until some condition is met
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [63]:
# List comprehensions are one of Python's most beloved and unique features
squares = [n**2 for n in range(10)]
print(squares)

# Here's how we would do the same thing without a list comprehension
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
# We can also add an if condition
sort_panet = [planet for planet in planets if len(planet)<6]
print(sort_panet)

['Venus', 'Earth', 'Mars']

**One place where the Python language really shines is in the manipulation of strings**

**This section will cover some of Python's built-in string methods and formatting operations**

**Strings in Python can be defined using either single or double quotations, they are functionally equivalent**

In [65]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
print(x == y)

True

**Double quotes are convenient if your string contains a single quote character (e.g. representing an apostrophe)**

**Similarly, it's easy to create a string that contains double-quotes if you wrap it in single quotes**

In [66]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [67]:
# If we try to put a single quote character inside a single-quoted string, Python gets confused
# \' = '
# \" = "
# \\ = \
# \n = New Line

In [68]:
hello = "hello\nworld"
print(hello)
e = '\n'
d = """hey"""
c = 'it\'s ok'
b = "it's ok"
a = ""
print(len(a),len(b),len(c),len(d),len(e))

hello
world
0 7 7 3 1

**Python's triple quote syntax for strings lets us include newlines literally by just hitting 'Enter' on our keyboard, rather than using the special '\n' sequence**

In [69]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
print(triplequoted_hello == hello)

hello
world
True

**The print() function automatically adds a newline character unless we specify a value for the keyword argument end other than the default value of '\n'**

In [70]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

**Strings can be thought of as sequences of characters**

**Almost everything we've seen that we can do to a list, we can also do to a string**

In [71]:
planet = 'Pluto'
print(planet[0])
print(planet[-3:])
print(len(planet))
plt = [char+'! ' for char in planet]
print(plt)

P
uto
5
['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [72]:
# But a major way in which they differ from lists is that they are immutable, we can't modify them

In [73]:
# Like list, the type str has lots of very useful methods
claim = "Pluto is a planet!"
print(claim.upper())
print(claim.lower())
print(claim.index('plan'))
print(claim.startswith(planet))
print(claim.endswith('planet'))

PLUTO IS A PLANET!
pluto is a planet!
11
True
False

**str.split() turns a string into a list of smaller strings, breaking on whitespace by default**

**This is super useful for taking you from one big string to a list of words**

In [74]:
words = claim.split()
print(words)

['Pluto', 'is', 'a', 'planet!']

In [75]:
# Occasionally you'll want to split on something other than whitespace
datestr = '1956-01-31'
year, month, day = datestr.split('-')
print(year,month,day)

1956 01 31

**str.join() takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator**

In [76]:
print('/'.join([month, day, year]))

01/31/1956

**str.format() on a "format string", where the Python values we want to insert are represented with {} placeholders**

**Notice how we didn't even have to call str() to convert position from an int. format() takes care of that for us**

**If that was all that format() did, it would still be incredibly useful**

In [77]:
position = 9
print(planet + ", you'll always be the " + str(position) + "th planet to me.")
print("{}, you'll always be the {}th planet to me.".format(planet, position))

Pluto, you'll always be the 9th planet to me.
Pluto, you'll always be the 9th planet to me.

In [78]:
# Dictionaries are a built-in Python data structure for mapping keys to values.
numbers = {'one':1, 'two':2, 'three':3}
print(numbers)

{'one': 1, 'two': 2, 'three': 3}

In [79]:
# In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values
# Values are accessed via square bracket syntax similar to indexing into lists and strings
print(numbers['one'])

1

In [80]:
# We can use the same syntax to add another key, value pair
numbers['eleven'] = 11
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [81]:
# Or to change the value associated with an existing key
numbers['one'] = 'Pluto'
print(numbers)

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [82]:
# Python has dictionary comprehensions with a syntax similar to the list comprehensions we saw in the previous tutorial.
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
print(planet_to_initial)

{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Saturn': 'S', 'Uranus': 'U', 'Neptune': 'N'}

In [83]:
# The "in" operator tells us whether something is a key in the dictionary
print('Saturn' in planet_to_initial)
print('Betelgeuse' in planet_to_initial)

True
False

In [84]:
# A "for" loop over a dictionary will loop over its keys
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [85]:
# We can access a collection of all the keys or all the values with dict.keys() and dict.values()
print(numbers.keys())
print(numbers.values())

dict_keys(['one', 'two', 'three', 'eleven'])
dict_values(['Pluto', 2, 3, 11])

In [86]:
# The very useful dict.items() method lets us iterate over the keys and values of a dictionary simultaneously
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

**But one of the best things about Python (especially if you're a data scientist) is the vast number of high-quality custom libraries that have been written for it**

**Either way, we'll access this code with imports**

In [87]:
import math
print("It's math! It has type {}".format(type(math)))

It's math! It has type <class 'module'>

**A module is just a collection of variables defined by someone else**

**We can see all the names in math using the built-in function dir()**

In [88]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

**We can access these variables using dot syntax**

**Some of them refer to simple values, like math.pi**

In [89]:
print("pi to 4 significant digits = {:.4}".format(math.pi))

pi to 4 significant digits = 3.142

In [90]:
# But most of what we'll find in the module are functions, like math.log
print(math.log(32, 2))

5.0

In [91]:
# A good compromise is to import only the specific things we'll need from each module
from math import log, pi
print ("Natural logarithm of 14 is : ", end="")
print (math.log(14))

Natural logarithm of 14 is : 2.6390573296152584

In [92]:
# So if we import numpy as above, then calling a function in the random "submodule" will require two dots
rolls = numpy.random.randint(low=1, high=6, size=10)
print(rolls)

[2 4 2 1 4 2 3 4 1 3]

In [93]:
# Three tools for understanding strange objects

# what is this thing?
print(type(rolls))

<class 'numpy.ndarray'>

In [94]:
# what can I do with it?
print(dir(rolls))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__class_getitem__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__dlpack__', '__dlpack_device__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [95]:
# If I want the average roll, the "mean" method looks promising...
print(rolls.mean())

2.6

In [96]:
# Or maybe I just want to turn the array into a list, in which case I can use "tolist"
print(rolls.tolist())

[2, 4, 2, 1, 4, 2, 3, 4, 1, 3]

In [97]:
# tell me more
print(help(rolls.ravel))

Help on built-in function ravel:

ravel(...) method of numpy.ndarray instance
    a.ravel([order])

    Return a flattened array.

    Refer to `numpy.ravel` for full documentation.

    See Also
    --------
    numpy.ravel : equivalent function

    ndarray.flat : a flat iterator on the array.

None